h1{
   background-color: aqua;
   color: red;
   border: 2px solid black;
   border-radius: 15px;
}

table{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

th{
    color: yellow;
    background-color: blue;
    border: 3px double chocolate;
}

td{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 93, 34);
    border: 3px double rgb(76, 6, 106)
}